# Entornos virtuales
venv/
env/
.env
.venv
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Base de datos SQLite
/src/instance/graph-bak.db
!/src/instance/graph.db
!/src/instance/seed.sql

# Archivos de configuración IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Registros
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cobertura de pruebas
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

